* {
  box-sizing: content-box;
  box-shadow: #e5e5e5;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  color: antiquewhite;
  background-color: #000000;
}

body {
  padding-top:10px;
}

.outerBox {
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.innerbox {
  padding: 10px;
  width:95%;
  margin: 15px auto;
  border-style: solid;
  border-width: medium;
  border-color: antiquewhite;
}

.displayBox {
  overflow: auto;
  padding-top: 10px;
}

.recipeBox {
  padding: 5px;
  width:30%;
  margin: 5px 5px 13px 10px;
  float:left;
  font-size: .8em;
  background-color: antiquewhite;
}

#header {
  text-align: center;
  letter-spacing: .2em;
  margin-bottom: 10px;
}

#totals {
  line-height: 1.5em;
}

input {
  margin: 5px;
  background-color: rgb(65, 65, 65);
  color: antiquewhite;
  min-width: 300px
}

.blktxt {
  color: #000000;
  background-color: antiquewhite;
}

button {
  padding: 3px;
  margin: 3px;
  color: #000000;
  background-color: antiquewhite;
}